<nav class="links">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/fashion/">Fashion</a></li>
        <li><a href="/jewellery/">Jewellery</a></li>
        <li><a href="#">Art &amp; Design</a></li>
        <li><a href="#">Travel</a></li>
        <!-- <li><a href="/accessories/">Accessories</a></li> -->
        <!-- <li><a href="/events/">Events</a></li> -->
        <!-- <li><a href="/shop/">Shop</a></li> -->
        <!-- <li><a href="http://aamaalam.tumblr.com">Mementos</a></li> -->
        <li><a href="/archive/">Archive</a></li>
        <!-- <li><a href="/contact/">Contact</a></li> -->
    </ul>
</nav>
