::selection {
  background: #fff882;
  /* Safari */
  color: #444444;
}

::-moz-selection {
  background: #fff882;
  /* Firefox */
  color: #444444;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

p, li, blockquote {
  line-height: 28px;
  margin: 0;
}

li a {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .15em;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
}

.ir {
  text-indent: -99999em;
}

.center {
  text-align: center;
}

/* Global colors
********************************/

body {
  color: #ffffff;
  background-color: #000000;
}

.blog-description {
  font-family: "futura-pt", "futura-pt", futura, helvetica, arial, sans-serif;
  color: #ffffff;
  line-height: 14px;
}

a {
  color: #dfb504;
  text-decoration: none;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3);
}

#header h1 a {
  font-family: "futura-pt", "futura-pt", futura, helvetica, arial, sans-serif;
  border-bottom: none;
}

a {
  &:hover {
    color: #058810;
  }
  &:active {
    position: relative;
    outline: none;
    top: 1px;
    color: #0359fa;
  }
}

.metadata a, #footer-links a, footer p.promo a, .links a {
  color: #ffffff;
  font-family: "futura-pt", "futura-pt", futura, helvetica, arial, sans-serif;
  border-bottom: none;
}

.metadata a:hover, #footer-links a:hover, footer p.promo a:hover, .links a:hover, .more a:hover, a.mobile-player:hover {
  color: #ffffff;
}

.post {
  border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}

.colophon p {
  color: #ffffff;
  font-family: "futura-pt", "futura-pt", futura, helvetica, arial, sans-serif;
}

/* Global fonts
********************************/

body {
  font-family: "futura-pt", futura, helvetica, sans-serif;
  font-weight: normal;
}

.title h1, .link-title h1, .chat-title h1, .q h1, .a h1, .album-info h2, footer h2 {
  font-family: "futura-pt", futura, helvetica, sans-serif;
  font-weight: bold;
}

.blog-title h1 {
  font-family: "futura-pt", "futura-pt", helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 96px;
  line-height: 1em;
}

.metadata a {
  font-family: "futura-pt", "futura-pt", helvetica, arial, sans-serif;
  font-weight: normal;
}

/* Page
********************************/

#page {
  border: 0px solid;
  max-width: 900px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

/* Header Centered
********************************/

#header {
  margin-top: 20px;
  margin-bottom: 80px;
  display: block;
  overflow: visible;
  a {
    text-decoration: none;
  }
}

.blog-title {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  a {
    border-bottom: none;
  }
  img {
    max-width: 100%;
  }
}

.blog-description {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}

.links {
  margin-top: 0px;
  text-align: center;
  float: none;
  border-bottom: 0px; /** 1px solid rgba(136, 136, 136, 0.4)**/
  font-family: "futura-pt-n4", "futura-pt", futura, helvetica, arial, sans-serif;
  letter-spacing: 10px;
  ul {
    margin-top: 10px;
    padding: 0;
    display: block;
    text-align: center;
    float: none;
  }
  li {
    display: inline;
    margin-left: 10px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    &:first-child {
      margin-left: 0px;
    }
  }
}

/* Post wrappers
********************************/

#content {
  width: 100%;
  overflow-x: hidden;
}

.post {
  margin-bottom: 45px;
  padding-bottom: 40px;
  width: 100%;
}

.narrow {
  max-width: 900px;
  margin: auto;
}

/* Headings
********************************/

.title h1, .link-title h1, .chat-title h1 {
  text-align: left;
  margin: auto;
  margin-bottom: 25px;
  font-size: 42px;
  line-height: 50px;
}

.link-title a {
  text-decoration: none;
  position: relative;
}

span.link-arrow {
  position: relative;
  font-size: 20px;
  bottom: 3px;
}

.quote-short {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
}

.photo img, .album-art img, .videoWrapper {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 2px;
}

.photo img, .album-art img {
  min-width: 640px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Post body styles
********************************/

.caption {
  p {
    margin-bottom: 15px;
  }
  h1 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
  }
  blockquote {
    margin-bottom: 10px;
    border-left: 3px solid rgba(136, 136, 136, 0.2);
    margin-left: 5px;
    padding-left: 15px;
    line-height: 26px;
  }
  pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: rgba(136, 136, 136, 0.2);
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    line-height: 24px;
    margin: 15px 0 25px 0;
  }
  ul {
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 40px;
  }
}

ol {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 40px;
}

.caption img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px auto 30px auto;
  border-radius: 2px;
}

.quote-short {
  line-height: 40px;
  font-size: 36px;
  margin-bottom: 20px;
}

.quote-medium, .quote-long {
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 20px;
}

ul.chat {
  list-style-type: none;
  padding-left: 0;
}

.chat li {
  border-bottom: 1px solid rgba(136, 136, 136, 0.3);
  margin-bottom: 10px;
  padding-bottom: 10px;
  &:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

span {
  &.odd, &.even {
    font-weight: bold;
  }
}

.more a {
  display: block;
  width: 99%;
  height: 30px;
  border: 1px solid rgba(136, 136, 136, 0.3);
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  padding-top: 10px;
  margin-bottom: 30px;
  &:active {
    background: rgba(136, 136, 136, 0.08);
    box-shadow: inset 0px 1px 4px rgba(136, 136, 136, 0.2);
    top: 0px;
  }
}

.audio-module {
  display: block;
  overflow: hidden;
  margin-bottom: 25px;
}

a.mobile-player {
  border: 1px solid rgba(136, 136, 136, 0.2);
  background: rgba(136, 136, 136, 0.1);
  width: 99%;
  padding: 30px 0 30px 0;
  margin-bottom: 25px;
  border-radius: 2px;
  display: none;
  &:active {
    top: 0px;
    box-shadow: inset 0px 1px 4px rgba(136, 136, 136, 0.2);
    background: rgba(136, 136, 136, 0.18);
    border: 1px solid rgba(136, 136, 136, 0.3);
  }
}

.play-triangle {
  margin-left: 20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6.5px 0 6.5px 10px;
  border-color: transparent transparent transparent rgba(136, 136, 136, 0.8);
}

.album-info {
  display: block;
  float: left;
  width: 63%;
}

.player {
  display: block;
  background-color: #ffffff;
  float: right;
  padding-top: 5px;
  padding-right: 2px;
  border: 1px solid rgba(136, 136, 136, 0.3);
}

.desktop-spotify {
  display: block;
}

.mobile-spotify {
  display: none;
  width: 290px;
  margin: auto;
}

.iphone-video object {
  display: block;
  margin: 0px auto 20px;
}

.asker-block, .answer-text {
  display: block;
  overflow: auto;
}

p {
  &.question {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  &.album, &.question {
    font-size: 24px;
    line-height: 32px;
  }
}

h1.qa-letter {
  display: block;
  float: left;
  width: 45px;
  position: relative;
  bottom: 3px;
  font-size: 30px;
}

.q {
  margin-bottom: 20px;
}

img.asker {
  float: left;
  margin-right: 8px;
  border-radius: 2px;
  position: relative;
  top: 2px;
}

p {
  &.asker {
    font-style: italic;
  }
  &.question {
    clear: both;
  }
}

/* Metadata
********************************/

.metadata {
  border: 0px solid gray;
  overflow: auto;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}

.tags, .notes-count {
  display: block;
  float: left;
  margin-right: 15px;
}

.date {
  font-size: 14px;
  text-transform: uppercase;
}

.author {
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
}

.tags a, .notes-count a, .date a {
  margin-right: 5px;
}

/* Footer
********************************/

footer {
  text-align: center;
  margin-bottom: 40px;
  a {
    text-decoration: none;
    border-bottom: none;
  }
}

a.back-next {
  margin: 0px 10px 0px 10px;
}

footer h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

#footer-links {
  ul {
    margin-bottom: 0px;
    padding: 0;
    display: block;
    text-align: center;
  }
  li {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    &:first-child {
      margin-left: 0px;
    }
  }
}

footer {
  .colophon p {
    font-size: 14px;
    font-style: italic;
  }
  p.promo {
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
  }
}

/* Notes and comments
********************************/

#permalink-content {
  margin-top: 40px;
}

.avatar_frame {
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.comments {
  margin-bottom: 35px;
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.permalink-notes {
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  ol {
    padding-left: 0;
  }
  li {
    list-style: none;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(136, 136, 136, 0.3);
    font-size: 13px;
  }
  blockquote {
    margin: 5px 0px 5px 0px;
    border-left: 3px solid rgba(136, 136, 136, 0.2);
    margin-left: 20px;
    padding-left: 15px;
    line-height: 24px;
  }
}

.notes a {
  border-bottom: none;
  text-decoration: underline;
}

/* Browser size break-points
********************************/

@media screen and (max-width: 800px) {
  #header {
    margin-top: 20px;
    display: block;
    overflow: visible;
    padding-bottom: 0px;
  }
  .blog-title {
    display: block;
    text-align: center;
    margin-top: 50px;
    float: none;
    width: 100%;
    margin-bottom: 50px;
    h1 {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
  .blog-description {
    font-size: 16px;
    line-height: 20px;
  }
  .links {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    float: none;
    border-bottom: 1px solid rgba(136, 136, 136, 0.4);
    ul {
      margin-top: 10px;
      padding: 0;
      display: block;
      text-align: center;
      float: none;
    }
    li {
      display: inline;
      margin-left: 16px;
      font-size: 17px;
      text-transform: uppercase;
    }
  }
  .metadata {
    font-size: 16px;
  }
  .player {
    display: none;
  }
  a.mobile-player {
    display: block;
  }
  .album-info {
    width: 100%;
  }
  .title h1, .link-title h1, .chat-title h1 {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
  }
}

@media screen and (max-width: 740px) {
  #page {
    padding-left: 1em;
    padding-right: 1em;
  }
  #header {
    margin-bottom: 50px;
  }
  /* WRANGLE TUMBLR VIDEO PLAYER */
  .iphone-video {
    img {
      width: 90%;
    }
    a {
      margin-bottom: 20px;
    }
  }
  /* IMAGES */
  .photo img, .album-art img {
    min-width: 100%;
  }
  .link-title a {
    line-height: 50px;
  }
  .desktop-spotify {
    display: none;
  }
  .mobile-spotify {
    display: block;
  }
}