---
layout: default
---

<article class="post text">
    <div class="narrow">
        <div class="caption">
            <span><img src="{{page.image}}" title="{{page.caption}}" /></span>
            <h1 class="post-title"><a href="{{page.url}}">{{page.title}}</a></h1>
            <p>
                {{content}}
            </p>
        </div>
    </div>

    <div class="metadata">
        <!-- <time>{{ page.date | date_to_string }}</time><br /><br /> -->
        {% for tag in page.tags %}
        <a href="/tagged/{{tag}}">#{{ tag }}</a>
        {% endfor %}
    </div>
</article>

<aside>
    {% if page.previous.url %}
    Previous: <a href="{{page.previous.url}}">{{page.previous.title}}</a><br />
    {% endif %}

    {% if page.next.url %}
    Next: <a href="{{page.next.url}}">{{page.next.title}}</a><br />
    {% endif %}
</aside>

<br clear="all" />

{% include related.html %}

{% if page.comments == true %}
    {% include comments.html %}
{% endif %}